{
  "presets": [
    ["env",  {"modules": false}],
    "flow"
  ],
  "env": {
    "build": {
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
