{
  "presets": [
    ["env",  {"modules": false}]
  ],
  "plugins": [
    "external-helpers",
    "transform-flow-comments"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
